:root {
  --red: #d01c28;
  --grey: #5a5959;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px 0px;
  height: 75px;
}

.navItems {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 30px;
}
.navItems li {
  cursor: pointer;
}
.login {
  all: unset;
  color: white;
  background-color: var(--red);
  width: 75px;
  height: 25px;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
}
.hero {
  width: 1280px;
  margin: 0 auto;
  height: calc(100vh-75px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  padding: 0px 50px;
}
.hero-content h1 {
  font-size: 100px;
  font-weight: 800;
  line-height: 102px;
  margin-bottom: 10px;
  margin-top: 40px;
}
.hero-content p {
  color: var(--grey);
  font-weight: 600;
}
.hero-btn {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
  margin-bottom: 10px;
}
.hero-btn button {
  all: unset;
  color: white;
  background-color: var(--red);
  width: 150px;
  height: 25px;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
}
.category {
  border: 2px solid var(--grey) !important;
  color: #5a5959 !important;
  background-color: white !important;
}
.ptag {
  font-size: 12px !important;
  font-weight: 300 !important;
}
.hero-icon {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
}

.btns{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}