* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.light {
  --bg-color: white;
  --text-color: black;
  --card-bg: #f5f5f5;
}

.dark {
  --bg-color: #1a1a1a;
  --text-color: white;
  --card-bg: #333;
}